body {
    margin: 0;
    padding: 0;
    background-color: #F2B038;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='200' stroke-opacity='0.39' id='a' d='M0.74-509.63l485.39 352.65l-185.4 570.61h-599.97l-185.4-570.61L0.74-509.63 M0.74-510.87l-486.56 353.51l185.85 571.99h601.42L487.3-157.36L0.74-510.87L0.74-510.87z'/%3E%3C/defs%3E%3Cg transform='scale(0.955)' style='transform-origin:center'%3E%3Cg transform='rotate(72 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-142.4 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23F2B038' href='%23a' transform='rotate(8.9 0 0) scale(1.089)'/%3E%3Cuse stroke='%23f3a434' href='%23a' transform='rotate(17.8 0 0) scale(1.178)'/%3E%3Cuse stroke='%23f49931' href='%23a' transform='rotate(26.7 0 0) scale(1.267)'/%3E%3Cuse stroke='%23f58d2d' href='%23a' transform='rotate(35.6 0 0) scale(1.356)'/%3E%3Cuse stroke='%23f58129' href='%23a' transform='rotate(44.5 0 0) scale(1.445)'/%3E%3Cuse stroke='%23f67525' href='%23a' transform='rotate(53.4 0 0) scale(1.534)'/%3E%3Cuse stroke='%23f76a22' href='%23a' transform='rotate(62.3 0 0) scale(1.623)'/%3E%3Cuse stroke='%23f85e1e' href='%23a' transform='rotate(71.2 0 0) scale(1.712)'/%3E%3Cuse stroke='%23f9521a' href='%23a' transform='rotate(80.1 0 0) scale(1.801)'/%3E%3Cuse stroke='%23fa4616' href='%23a' transform='rotate(89 0 0) scale(1.89)'/%3E%3Cuse stroke='%23fb3b13' href='%23a' transform='rotate(97.9 0 0) scale(1.979)'/%3E%3Cuse stroke='%23fc2f0f' href='%23a' transform='rotate(106.8 0 0) scale(2.068)'/%3E%3Cuse stroke='%23fc230b' href='%23a' transform='rotate(115.7 0 0) scale(2.157)'/%3E%3Cuse stroke='%23fd1707' href='%23a' transform='rotate(124.6 0 0) scale(2.246)'/%3E%3Cuse stroke='%23fe0c04' href='%23a' transform='rotate(133.5 0 0) scale(2.335)'/%3E%3Cuse stroke='%23FF0000' href='%23a' transform='rotate(142.4 0 0) scale(2.424)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header, footer {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    max-width: 150px;
}

nav ul, .left-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li, .left-section ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a, .user-options a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    line-height: 30px;
}

nav ul li a:hover, .user-options a:hover {
    color: #ffc107;
}

main {
    text-align: center;
    margin-top: 50px;
}

.left-section {
    font-size: 14px;
}

.left-section ul {
    list-style-type: none;
    padding: 0;
}

.left-section ul li {
    margin-bottom: 10px;
}
.peupagina{
    margin-top: 365px;
}

.titol{
    font-family: 'Aquire', sans-serif;

}
.subtitol{
    font-size: 26px;
}
.user-login a {
    line-height: 43px;
    margin-left: 30px;
    color: grey;
    text-decoration: none;
}

.user-login a:hover {
    color: rgb(255, 255, 255);
  }

.user-register a{
    line-height: 43px;
    margin-left: 700px;
    color: grey;
    text-decoration: none;
}

.user-register a:hover {
    color: rgb(255, 255, 255);
  }

.titulo{
    font-size: 80px
}

.right-section{
    max-width: 20%;
     max-height: 20%;
}


.Politicas a {
    color: rgba(255, 255, 255, 0.317);
    text-decoration: none;
  }
  
.Politicas a:hover {
    color: rgb(255, 255, 255);
  }
