/* Inici.css */

body {
    margin: 0;
    padding: 0;
    background-color: #F2B038;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='200' stroke-opacity='0.39' id='a' d='M0.74-509.63l485.39 352.65l-185.4 570.61h-599.97l-185.4-570.61L0.74-509.63 M0.74-510.87l-486.56 353.51l185.85 571.99h601.42L487.3-157.36L0.74-510.87L0.74-510.87z'/%3E%3C/defs%3E%3Cg transform='scale(0.955)' style='transform-origin:center'%3E%3Cg transform='rotate(72 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-142.4 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23F2B038' href='%23a' transform='rotate(8.9 0 0) scale(1.089)'/%3E%3Cuse stroke='%23f3a434' href='%23a' transform='rotate(17.8 0 0) scale(1.178)'/%3E%3Cuse stroke='%23f49931' href='%23a' transform='rotate(26.7 0 0) scale(1.267)'/%3E%3Cuse stroke='%23f58d2d' href='%23a' transform='rotate(35.6 0 0) scale(1.356)'/%3E%3Cuse stroke='%23f58129' href='%23a' transform='rotate(44.5 0 0) scale(1.445)'/%3E%3Cuse stroke='%23f67525' href='%23a' transform='rotate(53.4 0 0) scale(1.534)'/%3E%3Cuse stroke='%23f76a22' href='%23a' transform='rotate(62.3 0 0) scale(1.623)'/%3E%3Cuse stroke='%23f85e1e' href='%23a' transform='rotate(71.2 0 0) scale(1.712)'/%3E%3Cuse stroke='%23f9521a' href='%23a' transform='rotate(80.1 0 0) scale(1.801)'/%3E%3Cuse stroke='%23fa4616' href='%23a' transform='rotate(89 0 0) scale(1.89)'/%3E%3Cuse stroke='%23fb3b13' href='%23a' transform='rotate(97.9 0 0) scale(1.979)'/%3E%3Cuse stroke='%23fc2f0f' href='%23a' transform='rotate(106.8 0 0) scale(2.068)'/%3E%3Cuse stroke='%23fc230b' href='%23a' transform='rotate(115.7 0 0) scale(2.157)'/%3E%3Cuse stroke='%23fd1707' href='%23a' transform='rotate(124.6 0 0) scale(2.246)'/%3E%3Cuse stroke='%23fe0c04' href='%23a' transform='rotate(133.5 0 0) scale(2.335)'/%3E%3Cuse stroke='%23FF0000' href='%23a' transform='rotate(142.4 0 0) scale(2.424)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.navbar {
    background-color: #1DB954;
}

.Bar-Cerca {
    margin-top: 0px;
    margin-left: 250px;
    opacity: 0;
    animation: slideInTitle 2s ease-in-out 0.5s forwards;
}

.logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

.list-group-item {
    background-color: #333;
    color: #fff;
    border-color: #1DB954;
}

.list-group-item:hover {
    background-color: #1DB954;
    color: #fff;
}

.list-group-item.active {
    background-color: #1DB954;
    color: #fff;
    border-color: #1DB954;
}

.form-control.search-bar {
    width: 500px;
    font-size: 14px;
    margin-top: 50px;
    margin-left: 450px;
}

.titulo {
    margin: 0;
    padding: 0;
    font-family: 'Aquire', sans-serif;
    font-size: 100px;
}

.titol {
    margin-top: 0px;
    margin-left: 0px;
    opacity: 0;
    animation: slideInTitle 2s ease-in-out 0.5s forwards;
}

.most_viwed {
    background-color: rgb(30, 30, 30);
    color: #ecf0f1;
    margin-left: 12.5%;
    margin-top: 8.33%;
    width: 50%;
    height: 25%;
    border-radius: 10px;
    opacity: 0;
    animation: fadeInUpMostViewed 2s ease-in-out 1s forwards;
}

.card {
    background-color: rgb(30, 30, 30);
    color: #ecf0f1;
}

.card-body {
    color: #ecf0f1;
}

.card-img-top {
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInTitle {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUpMostViewed {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}